<h1>Your Budgets</h1>

<% current_user.budgets.each do |b| %>
  <% @budget = b %>
  <h2><a href='/budgets/<%= @budget.id %>'><%= @budget.name %>: $<%= remaining_balance %></a></h2>
  <br><br>
<% end %>
