<a href=/users/home>Home</a>
|
<a href=/budgets>All Your Budgets</a>
<br><br>

<h1>Start a new Budget</h1>

<form action="/budgets" method="POST">
  <h3>Custom Budget</h3>
  <label for="month">For the month of: </label>
  <select name="month" id="month" required>
    <option value=<%= Date.today.strftime('%B') %> selected>This month</option>
    <option value="January">Jan</option>
    <option value="February">Feb</option>
    <option value="March">Mar</option>
    <option value="April">Apr</option>
    <option value="May">May</option>
    <option value="June">Jun</option>
    <option value="July">Jul</option>
    <option value="August">Aug</option>
    <option value="September">Sept</option>
    <option value="October">Oct</option>
    <option value="November">Nov</option>
    <option value="December">Dec</option>
  </select>
  <br><br>
  <label for="budget_name">Budget Name: </label>
  <br>
  <input type="text" name="name" id="budget_name" pattern="[^\s][a-zA-Z0-9\s]+"></input>
  <br><br>
  <h4>or choose from</h4>
  <h3>Common Expenses</h3>
  <input type="radio" name="name" id="prefilled_budget_name1" value="Food">Food<br>
  <input type="radio" name="name" id="prefilled_budget_name2" value="Rent/Mortgage">Rent/Mortgage<br>
  <input type="radio" name="name" id="prefilled_budget_name3" value="Utilities">Utilities<br>
  <input type="radio" name="name" id="prefilled_budget_name4" value="Gas">Gas<br>
  <input type="radio" name="name" id="prefilled_budget_name5" value="Clothing">Clothing<br>
  <input type="radio" name="name" id="prefilled_budget_name6" value="Travel">Travel<br>
  <input type="radio" name="name" id="prefilled_budget_name7" value="Miscellaneous">Miscellaneous<br>
  <br>


  <label for="budget_balance">Monthly Amount: </label>
  <br>
  <input type="number" name="balance" id="budget_balance" required></input>
  <br><br>

  <input type="submit" value="Submit Budget">
</form>
