<h1>Start a new Budget</h1>

<form action="/budgets" method="POST">
  <h3>Custom Budget</h3>
  <label>Budget Name: </label>
  <br>
  <input type="text" name="name" id="budget_name"></input>
  <br>
  <h3>Common Expenses</h3>
  <input type="radio" name="name" id="prefilled_budget_name1" value="Food">Food<br>
  <input type="radio" name="name" id="prefilled_budget_name2" value="Rent/Mortgage">Rent/Mortgage<br>
  <input type="radio" name="name" id="prefilled_budget_name3" value="Utilities">Utilities<br>
  <input type="radio" name="name" id="prefilled_budget_name4" value="Gas">Gas<br>
  <input type="radio" name="name" id="prefilled_budget_name5" value="Clothing">Clothing<br>
  <input type="radio" name="name" id="prefilled_budget_name6" value="Travel">Travel<br>
  <input type="radio" name="name" id="prefilled_budget_name7" value="Miscellaneous">Miscellaneous<br>
  <br>


  <label>Monthly Amount: </label>
  <br>
  <input type="number" name="balance" id="budget_balance"></input>
  <br><br>

  <input type="submit" value="Submit Budget">
</form>
